{% extends 'ourproperty/base.html' %}
{% load static %}

{% block content %}
<br><br>
  <div id="features" class="section wb">
    <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
    {% include 'ourproperty/partial/add_property.html' %}
    <br><br>
    <div class="container">
      <div class="section-title row text-center">
        <div class="col-md-8 col-md-offset-2">
          <input type="text" class="search" id="searchtitle" placeholder="search by property Name">
          <select id="searchcity" class="search">
            <option value="">All</option>
            {% for obj in qs %}
              <option value={{obj.property_address.city}} data-city={{obj.property_address.city}}>{{obj.property_address.city|title}}</option>
            {% endfor %}
          </select>
          <select id="searchstatus" class="search">
            <option value="">All</option>
            <option value="furnished">Furnished</option>
            <option value="semifurnished">Semifurnished</option>
            <option value="unfurnished">Unfurnished</option>
          </select>
          <button class="btn btn-primary" id="reset">Reset</button>
          <br><br>
          <h3>Available Property</h3>
          <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
        </div> <!-- end col -->
      </div> <!-- end title -->
      <hr class="invis">
      <div  id="property-display">
        {% include "ourproperty/dealer/partial/properties.html" %}
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end section -->
{% endblock %}


{% block extra_js %}

<script type="text/javascript">

  $(document).on('keyup', '.search', function(event){
    event.preventDefault();
    console.log("button clicked..")
    let title = $("#searchtitle").val()
    let city = $("#searchcity").val()
    let status = $("#searchstatus").val()
    searchdata = {title:title, city:city, status:status}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: searchdata,
      success: function(data){
        if(data.status==200){
            $("#property-display").html(data.properties_data_html)
          }
      }
    })
  })

  $(document).on('change', '.search', function(event){
    event.preventDefault();
    let title = $("#searchtitle").val()
    let city = $("#searchcity").val()
    let status = $("#searchstatus").val()
    searchdata = {title:title, city:city, status:status}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: searchdata,
      success: function(data){
        if(data.status==200){
            $("#property-display").html(data.properties_data_html)
          }
      }
    })
  })

  $(document).on('click', '#reset', function(event){
    event.preventDefault();
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      success: function(data){
        $(".search").val('')
        if(data.status==200){
          $("#property-display").html(data.properties_data_html)
        }
      }
    })
  })

</script>

<script type="text/javascript">
  $(document).on('click', '.requestbtn', function(event){
    event.preventDefault();
    // console.log("button clicked..")
    let permit_data = $(this).val()
    let permit_data_obj_id = $(this).attr("data-id");
    // console.log(permit_data)
    // console.log(permit_data_obj_id)
    mydata = {permit_data:permit_data, permit_data_obj_id:permit_data_obj_id}
    $.ajax({
      url: "{% url 'dealer_approval' %}",
      method: "GET",
      data: mydata,
      success: function(data){
        // console.log(data.properties_data_html)
        if(data.status == 200){
          $("#property-display").html(data.properties_data_html)

        }
      }
    })
  })
</script>

{% endblock %}
