{% extends 'ourproperty/base.html' %}
{% load static %}

{% block slider %}
<div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Properties</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Properties</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div id="features" class="section wb">
    <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
      {% include 'ourproperty/partial/add_property.html' %}
  <br><br>
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <input type="text" name="" id="search1id" class="searchid" placeholder="search by city">
        <input type="text" name="" id="search2id" class="searchid" placeholder="search by property status">
        <button class="btn btn-primary" id="resetid">Reset</button>
        <br>
        <h3>Property Details</h3>
        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
      </div><!-- end col -->
    </div><!-- end title -->

    <!--  <div>
      <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
        {% include 'ourproperty/partial/add_property.html' %}
        </div> -->


    <hr class="invis">
    <div class="row" id="property-display">
      {% include "ourproperty/dealer/partial/properties.html" %}
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
{% endblock %}


{% block extra_js %}

<script type="text/javascript">
  $(".searchid").on('keyup', function(event){
    event.preventDefault();
    let search1id = $("#search1id").val()
    let search2id = $("#search2id").val()
    search_mydata = {search1id:search1id,search2id:search2id}

      $.ajax({
        url: "{% url 'search' %}",
        method: "GET",
        data: search_mydata,
        success: function(data){
          if(data.status==200){
            $("#property-display").html(data.properties_data_html)
          }
      }
    })

  })

  $("#resetid").click(function(event){
    event.preventDefault();
    let dealer_key = $(this).attr("data-dealerkey")
    console.log("Button clicked..")
    console.log(dealer_key)
    search_mydata = {dealer_key:dealer_key}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: search_mydata,
      success: function(data){
        $(".searchid").val('')
        if(data.status==200){
          $("#property-display").html(data.properties_data_html)
        }
      }
    })
  })
</script>

<script type="text/javascript">
  $(document).on('click', '.requestbtn', function(event){
    event.preventDefault();
    // console.log("button clicked..")
    let permit_data = $(this).val()
    let permit_data_obj_id = $(this).attr("data-id");
    // console.log(permit_data)
    // console.log(permit_data_obj_id)
    mydata = {permit_data:permit_data, permit_data_obj_id:permit_data_obj_id}
    $.ajax({
      url: "{% url 'dealer_approval' %}",
      method: "GET",
      data: mydata,
      success: function(data){
        // console.log(data.properties_data_html)
        if(data.status == 200){
          $("#property-display").html(data.properties_data_html)

        }
      }
    })
  })
</script>

{% endblock %}
