{% extends 'ourproperty/base.html' %}
{% load static %}

{% block slider %}
<div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Properties</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Properties</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div id="features" class="section wb">
    <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
      {% include 'ourproperty/partial/add_property.html' %}
  <br><br>
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <form id="searchformid"">
          <input type="text" name="" id="search1" placeholder="Enter City Name">
          <input type="text" name="" id="search2" placeholder="Enter Location">
          <input type="submit" name="" value="Search" class="btn btn-primary">
        </form>
        <br>
        <h3>Property Details</h3>
        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
      </div><!-- end col -->
    </div><!-- end title -->

    <!--  <div>
      <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
        {% include 'ourproperty/partial/add_property.html' %}
        </div> -->


    <hr class="invis">
    <div class="row" id="property-display">
      {% include "ourproperty/dealer/partial/properties.html" %}
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
{% endblock %}


{% block extra_js %}

<script type="text/javascript">
  $("#searchformid").submit(function(event){
    event.preventDefault();
    // console.log("Button Clicked..")
    let search1 = $("#search1").val();
    let search2 = $("#search2").val();
    if (search1 == "" && search2 == ""){
      alert("Please Provide Detail")
    }
    else{
      search_data = {search1:search1, search2:search2}
      $.ajax({
        url: "{% url 'search' %}",
        headers: {'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()},
        method: "POST",
        data: search_data,
        success: function(data){
          // console.log(data.status)
          if(data.status == 200){
            $("#property-display").html(data.properties_data_html)
          }
        }
      })
    }

  })
</script>

<script type="text/javascript">
  $(document).on('click', '.requestbtn', function(event){
    event.preventDefault();
    // console.log("button clicked..")
    let permit_data = $(this).val()
    let permit_data_obj_id = $(this).attr("data-id");
    // console.log(permit_data)
    // console.log(permit_data_obj_id)
    mydata = {permit_data:permit_data, permit_data_obj_id:permit_data_obj_id}
    $.ajax({
      url: "{% url 'dealer_approval' %}",
      method: "GET",
      data: mydata,
      success: function(data){
        // console.log(data.properties_data_html)
        if(data.status == 200){
          $("#property-display").html(data.properties_data_html)

        }
      }
    })
  })
</script>

{% endblock %}
