{% extends 'ourproperty/base.html' %}
{% load static %}

{% block content %}
<br><br>
    <div id="features" class="section wb">
    <button class="btn btn-success pull-right" data-target="#propertymodel" data-toggle="modal">Add Property</button>
      {% include 'ourproperty/partial/add_property.html' %}
  <br><br>
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <input type="text" name="" id="searchtitle" data-dealerkey={{dealer_key}} class="search" placeholder="search by Property Name">
        <select data-dealerkey={{dealer_key}} id="searchcity" class="search">
          <option value="">All</option>
          {% for obj in qs %}
            <option value={{obj.property_address.city}} data-city={{obj.property_address.city}}>{{obj.property_address.city|title}}</option>
          {% endfor %}
        </select>
        <select data-dealerkey={{dealer_key}} id="searchstatus" class="search">
          <option value="">All</option>
          <option value="furnished">Furnished</option>
          <option value="semifurnished">Semifurnished</option>
          <option value="unfurnished">Unfurnished</option>
        </select>
        <button class="btn btn-primary" id="reset" data-dealerkey={{dealer_key}}>Reset</button>
        <br><br>
        <h3>Available Property</h3>
        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
      </div><!-- end col -->
    </div><!-- end title -->




    <hr class="invis">
    <div id="property-display">
      {% include "ourproperty/partial/properties.html" %}
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  $(document).on('keyup', '.search', function(event){
    event.preventDefault();
    let dealer_key = $(this).attr("data-dealerkey")
    let title = $("#searchtitle").val()
    let city = $("#searchcity").val()
    let status = $("#searchstatus").val()
    searchdata = {title:title, city:city, status:status, dealer_key:dealer_key}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: searchdata,
      success: function(data){
        if(data.status==200){
            $("#property-display").html(data.properties_data_html)
          }
      }
    })
  })

  $(document).on('change', '.search', function(event){
    event.preventDefault();
    let dealer_key = $(this).attr("data-dealerkey")
    let title = $("#searchtitle").val()
    let city = $("#searchcity").val()
    let status = $("#searchstatus").val()
    searchdata = {title:title, city:city, status:status, dealer_key:dealer_key}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: searchdata,
      success: function(data){
        if(data.status==200){
            $("#property-display").html(data.properties_data_html)
          }
      }
    })
  })

  $(document).on('click', '#reset', function(event){
    event.preventDefault();
    let dealer_key = $(this).attr("data-dealerkey")
    searchdata = {dealer_key:dealer_key}
    $.ajax({
      url: "{% url 'search' %}",
      method: "GET",
      data: searchdata,
      success: function(data){
        $(".search").val('')
        if(data.status==200){
          $("#property-display").html(data.properties_data_html)
        }
      }
    })
  })
</script>
{% endblock %}
