
{% if property.user_request == 'pending' %}
<div class="pull-right">
  <button id="approvebtn" value="approved" class="requestbtn btn btn-success btn-sm " data-id={{property.id}}>Approve</button>
  <button id="declinebtn" value="declined" class="requestbtn btn btn-danger btn-sm" data-id={{property.id}}>Decline</button>
</div>
{% else %}
<div class="pull-right">
  <button id="approvebtn" value="approved" class="requestbtn btn btn-success btn-sm " data-id={{property.id}} disabled="True">Approve</button>
  <button id="declinebtn" value="declined" class="requestbtn btn btn-danger btn-sm" data-id={{property.id}} disabled="True">Decline</button>
</div>
{% endif %}


