{% load static %}

<div id="imageslider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'ourproperty/static/uploads/estate_01.jpg' %}">
    </div>
    <div class="item">
      <img src="{% static 'ourproperty/static/uploads/estate_02 .jpg' %}">
    </div>
  </div>

  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
